### IDEs, editors
.idea/
.vscode/

### R
*.Rproj
.Rhistory
.Rapp.history
.RData
.Rproj.user/

### Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*testfield.ipynb
*.egg-info/

### CHIP-MDHD
/Local_module/Scenario_*
# !/Local_module/Scenario_40KLocalFCETby2030/
!/Local_module/Scenario_Template/
!/Local_module/Scenario_Baseline/
/LongHaul_module/Scenario_*
!/LongHaul_module/Scenario_Baseline/
!/LongHaul_module/scenario_Range800km/
*/credentials/*
gurobi.log
.Rproj.user
TODO.md

### Shapefiles and zip files (too large to commit to GitHub)
*.zip
*.gdb
*.lock
*.shp
*.prj
*.shx
*.vpr
*.shp.xml
*.sbx
*.dbf
*.cpg
*.sbn
*.sbx